extends layout.pug

block content
    .section
        .columns.is-gapless
            .column
                h1.title Bienvenido a Metal Community!
                p Metal Comunity es una comunidad enfocada a el mundo del metal 
            .column
                img(src='/static/img/dimmu_borgir.jpg' alt='dimmu_borgir' height='200px' width='200px')
                img(src='/static/img/metallica.jpg' alt='metallica' height='200px' width='200px')
                img(src='/static/img/avantasia.jpg' alt='avantasia' height='200px' width='200px')
                img(src='/static/img/opeth.jpg' alt='opeth' height='200px' width='200px')