@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

body {
    font-family: 'Fondamento', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.section {
    flex: 1;
}

/* Bulma overrides */

